<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hackathon3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCACB44A1D92F22D0069540D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCACB4611D92F22D0069540D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCACB46C1D92F22E0069540D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
